<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비누</title>
    <link href="styles/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5cb4758abd.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="s-navbar">
        <div class="left-s-navbar">
            <img src="/img/logo.png" alt="" width="240px">
        </div>
        <div class="right-s-navbar">
            <div class="s-input">
            </div>
        </div>
        <ul>
            <!--화면 오른쪽 상단에 출력될 내용입니다. if 로그인한유저 else 로그인 안한 유저-->
            <li><i class="fas fa-box"></i>Cart</li>
            <% if(user != '' && user != null){ %>
                <%= user.fullName %>님 환영합니다.
                <% if(user.isAdmin != '' && user.isAdmin != null && user.isAdmin == '1'){ %>
                    <li><a href="/admin">관리자페이지</a></li>
                <% } %>
            <li><a href="/user/view">내정보 수정</a></li>
            <li><a href="#">장바구니</a></li>
            <li><a href="#">주문내역</a></li>
            <li><a href="/logout">로그아웃</a></li>
            <% } else { %>
                <li><a class="nav-link" href="/signin">회원가입</a></li>
                <li><a href="/signin">로그인</a></li>
            <% } %>
        </ul>
    </section>

    <header>
        <ul class="heading">
            <!--화면 상단에 출력될 대분류 카테고리들 (현재 비누,샴푸,바디워시 출력됨)-->
            <% for(var i = 0; i < categoryList.length; i++) { %>
            <a href="/product/categoryList/<%=categoryList[i].id%>?page=1">
                <li class="heading-list"><%=categoryList[i].name%></li>
            </a>
            <% } %>
        </ul>
    </header>

    <section class="top-c">
        <div class="top-c-outer">
            <!--특정 제품들 출력 (잘나가는 제품, 새로나온 제품 등 추후 논의)-->
            <% for(var i = 0; i < productList.length; i++) { %>
            <div class="top-c-right">
                <div class="top-c-sb">
                    <a href="/product/view/<%=productList[i].id%>">
                        <img src="<%=productList[i].pictureUrl%>" alt="1">
                        <img src="/img/soaps/1.jpeg" alt="1">
                        <%=productList[i].title%>
                        <%=productList[i].price%>
                    </a>
                </div>
            </div>
            <% } %>
        </div>
    </section>

<section class="footer">

<input type="text" placeholder="Enter E-mail and get 50 points." id="search-bar">
<button id="btn-1">Subscribe</button>

<div class="copy"><p>Copyright @ 2014-19 Gearbest.com All Rights Reserved</p></div>

</section>
</body>
</html>