<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>P9</title>
    <link href="/styles/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5cb4758abd.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="s-navbar">
        <div class="left-s-navbar">
            <img src="/img/logo.png" alt="" width="240px">
        </div>
        <div class="right-s-navbar">
            <div class="s-input">
                <span>All</span>
                <input type="text" placeholder="Search-Here">
                <span><i class="fas fa-search"></i></span>
            </div>
        </div>
        <ul>
           <!-- <li><a class="nav-link" href="/signin">SignIn</a></li>-->
            <li><i class="fas fa-heart"></i>Fvourites</li>
            <li><i class="fas fa-box"></i>Cart</li>
        </ul>
    </section>

    <header>
        <div>
            <div>
                <% if(user != '' && user != null){ %>
                    <%= user.fullName %>님 환영합니다.
                    <%= user.email %>
                    <a href="/" >
                        메인
                    </a>
                <% } else { %>
                    <li>비정상적인 접근입니다.</li>
                <% } %>
                <!--<h1>Welcome {{user.fullname}}</h1>
                <h4>{{user.email}}</h4>
                <p>{{timeago user.created_at}}</p>
                <a href="/" >
                    메인
                </a>-->
            </div>
        </div>
    </header>

    <header>
        <ul class="heading">
            <form action="/admin/editProductProc" method="POST" enctype="multipart/form-data">
                기존 이미지 : <img src="<%=product.pictureUrl%>" alt="1"><br>
                <input type="text" name="id" value="<%=product.id%>"><br>
                <input type="text" name="pictureUrl" value="<%=product.pictureUrl%>"><br>
                상품 명 : <input type="text" name="title" value="<%=product.title%>"><br>
                SKU <input type="text" name="sku" value="<%=product.sku%>"><br>
                가격 <input type="text" name="price" value="<%=product.price%>"><br>
                할인 <input type="text" name="discount" value="<%=product.discount%>"><br>

                분류 :
                <select name="category">
                    <% for(var i = 0; i < categoryList.length; i++) { %>
                    <option value="<%=categoryList[i].id%>" <%=product.category == categoryList[i].id ? 'selected' : '' %>><%=categoryList[i].name%></option>
                    <% } %>
                </select><br>

                새로운 이미지
                <input type="file" name="file1" accept="image/jpg, image/png, image/jpeg"><br>

                <button>
                    등록
                </button>
            </form>
        </ul>
    </header>

</section>
</body>
</html>